---
// 当前路由
const { activeNav } = Astro.props;
// 站点配置
import SITE_CONFIG from "@/config";
const { Navs } = SITE_CONFIG;
// Svg 组件
import Svg from "@/components/Svg/Svg.astro";
// 搜索框组件
import Search from "@/components/Search/Search.astro";
// 主题切换组件
import ThemeIcon from "@/components/ThemeIcon/ThemeIcon.astro";
---

<header class="fixed top-0 left-0 w-screen h-[66px] z-50 transition-colors duration-180 bg-background/80 backdrop-blur-md shadow-sm border-b border-border">
	<section class="mx-auto px-[0.88rem] flex items-center w-full h-full max-w-[var(--vh-main-max-width)]">
		<a href="/" class="group flex items-center gap-[0.618rem] w-max h-max px-[0.188rem] py-[0.266rem] text-foreground transition-colors hover:text-primary">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-auto object-contain"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105"></path><path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0"></path></svg>
			<span class="pt-[0.188rem] text-[0.98rem] font-bold transition-all duration-100 group-hover:text-primary">Home</span>
		</a>
		<nav class="ml-auto flex items-center gap-[1.18rem] h-full">
			{
				Navs.map(i => (
					<a class={`hidden md:flex items-center gap-[0.28rem] px-[0.36rem] py-[0.288rem] h-max text-[0.98rem] font-semibold select-none transition-all duration-180 rounded-lg hover:bg-accent hover:text-accent-foreground ${(i.link.includes(activeNav) || (i.link.includes('/categories/') && activeNav && i.link.includes(activeNav))) ? "text-primary bg-accent" : "text-foreground"}` } href={i.link} target={i.target ? "_blank" : "_self"}>
						{i.text}
						<div class="w-4 h-auto object-contain"><Svg src={i.icon} /></div>
					</a>
				))
			}
			<ThemeIcon />
			<span class="hidden md:flex items-center gap-[0.28rem] px-[0.36rem] py-[0.288rem] h-max text-[0.98rem] font-semibold select-none cursor-pointer transition-all duration-180 rounded-lg hover:bg-accent hover:text-accent-foreground text-foreground search-btn">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-auto object-contain"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg> 搜索
			</span>
			<span class="flex md:hidden items-center gap-[0.28rem] px-[0.36rem] py-[0.288rem] h-max text-[0.98rem] font-semibold select-none cursor-pointer transition-all duration-180 rounded-lg hover:bg-accent hover:text-accent-foreground text-foreground menu-btn">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-[1.28rem] w-auto object-contain"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 6h16"></path><path d="M7 12h13"></path><path d="M10 18h10"></path></svg>
			</span>
		</nav>
		<Search />
	</section>
</header>